In [1]:
import seaborn as sns

In [2]:
df = sns.load_dataset('titanic', engine='python', encoding='euc-kr')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [6]:
X = df[['fare', 'pclass']]
Y = df[['survived']]
X.shape, Y.shape

((891, 2), (891, 1))

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [8]:
X = scaler.transform(X)
X.shape

(891, 2)

In [9]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y)

In [10]:
from sklearn.linear_model import LogisticRegression

In [11]:
logR = LogisticRegression

In [15]:
logR.fit(x_train,y_train)

TypeError: ignored

In [13]:
logR.score(x_train, y_train)

TypeError: ignored